@import includes/vars
//@import includes/w3-math
@import includes/highlighjs

body
  font-family: Arial, sans-serif

pre
  background-color: $backgroundSecondary
  padding: 2px
  border-radius: 2px

p
  code
    background-color: $backgroundSecondary
    padding: 1px
    border-radius: 2px

nav
  border: 2px solid $backgroundSecondary
  page-break-after: always

img
  max-width: 100%
  height: auto

.page
  page-break-before: always
  page-break-after: always
  page-break-inside: avoid

.newpage
  page-break-after: always
